@model Product
<!--Delete View-->
<div class="row pb-2">
    <h2>
        Delete Product
    </h2>
    <hr />
</div>
<!--WebForm-->
<form method="post" enctype="multipart/form-data">
    <div class="border p-3 m-4">

        <input asp-for="Id" hidden />
        <input asp-for="ImageURL " hidden />
        <div class="mb-3 row">
            <Label>Image</Label>
            <img src=@Model.ImageURL style="width:60%; height: 30%;" />


        </div>
        <div class="mb-3 row">
            <Label asp-for="ProductTitle"></Label>
            <input asp-for="ProductTitle" class="form-control"disabled />
            
        </div>
        <div class="mb-3 row">
            <Label asp-for="Price"></Label>
            <input asp-for="Price" class="form-control" disabled />
            

        </div>
        <div class="mb-3 row">
            <Label asp-for="Stock"></Label>
            <input asp-for="Stock" class="form-control" disabled />
            

        </div>
        <!--Submit Button-->
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary  form-control btn-danger">Delete Product</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary form-control"> Back to listing page</a>
            </div>


        </div>

    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }